<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MiniGames</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
</head>

<body>
    <div class="container">
        <header>
            <% include ../header %>
        </header>
        <br>


        <table class="table table-hover">
            <thead>
                <th style="width: 10%;">#</th>
                <th style="width: 40%;">Title</th>
                <th style="width: 20%">Writer</th>
                <th style="width: 20%">Post Date</th>
                <th style="width: 10%;">Views</th>
            </thead>
            <% board_list.forEach(list => { %>
            <tr>
                <td><%= list.no %></td>
                <td><a href="/board/b?no=<%=list.no%>"><%= list.title%></a></td>
                <td><%= list.name %></td>
                <td><%= list.postdate %></td>
                <td><%= list.view %></td>
            </tr>
            <% }) %>


        </table>

        <div class="text-center">
            <ul class="pagination">
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
            </ul>
            <a href="/board/register" class="btn btn-default pull-right">글쓰기</a>
        </div>


        <% include ../footer %>

    </div>
</body>

</html>